@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    --background-clr: #111123;
    --primary-clr: #00ffff;
    --secondary-clr: #2f2f67;
    --subtitle-clr: #9999ee;
     --secondary-clr: #020f2d;
    --font-clr: #efefef;
    --G-fonts: 'Orbitron', system-ui;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--font-clr);
}

::-webkit-scrollbar {
    width: 2px;
    height: 1px;
    background-color: var(--primary-clr);
}

body {
    display: grid;
    grid-template-columns: 20% 80%;
    overflow: hidden;
    gap: 3px;
}

.sec-title {
    font-size: 35px;
    text-align: center;
}

.side-nav-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: centers;
    gap: 30px;
    width: 100%;
    height: 100vh;
    background-color: var( --secondary-clr);
    border: 0;
    z-index: 999;
}

.user-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav-user-img-holder {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.side-nav-pfp-img {
    object-fit: cover;
    width: 100%;
    border-radius: inherit;
}

/* Links */
.side-nav-link-set {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-link {
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 23px;
    text-decoration: none;
    border: 1px solid transparent;
}

.side-link:hover {
    border-color: var(--primary-clr);
    color: var(--primary-clr);
}

/* Links */

/* ? */
.panel {
    width: 1fr;
    overflow-y: scroll;
}

.banner {
    width: 100%;
    padding: 5px;
    font-size: 30px;
    padding: 0 20px;
    background: var(--secondary-clr);
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

/* ? */

/* Notification Area */
.notification-section {
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.notification-area {
    position: relative;
    width: 100%;
    height: 20%;
    border: 2px solid var(--primary-clr);

    display: grid;
    overflow-x: scroll;

}

.notification {
    position: relative;
    min-width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    padding: 10px;
    border: 2px solid var(--primary-clr);
}

/* Notification Area */

/* Transaction Sec */
.t-table {
    width: 100%;
}

.t-table tr,
th,
td {
    border: 2px solid var(--primary-clr);
}

.t-table th,
td {
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.t-table tr:first-child {
    background-color: var(--primary-clr);
}

.t-table th {
    color: var( --secondary-clr);
}

.outside-cool-link {
    text-decoration: none;
    font-size: 24px;
    padding: 6px;
}

.outside-cool-link:hover {
    color: var(--primary-clr);
}

/* Transaction Sec */