@import url(../../../css/root.css);

.w-50 {
    width: 50%;
}

.outer-link {
    color: var(--white-clr);
    font-size: 20px;
}

.scroll-able {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.grid-with-side-nav {
    display: grid;
    grid-template-columns: 20% 1fr;
    overflow: hidden;
}

/* Navbar */
.settings-side-nav {
    padding: 15px;
    position: relative;
    min-width: 100%;
    min-height: 100vh;
    border: 1px solid var(--primary-clr);

    display: grid;
    grid-template-rows: fit-content 1fr;
    z-index: var(--top-lv-element);
}

.settings-profile-wrapper {
    padding: 15px;
    display: grid;
    place-items: center;
    gap: 10px;
    width: 100%;
    height: fit-content;
    border-bottom: 1px solid var(--primary-clr);
}

.settings-img-holder {
    position: relative;
    width: 160px;
    height: 160px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid var(--primary-clr);
    background-color: black;
    overflow: hidden;
}

.settings-img-holder>img {
    object-fit: cover;
    width: inherit;
    height: inherit;
    aspect-ratio: 1/1;
    -webkit-user-drag: none;
    user-select: none;
    transition: all 500ms;
}

.settings-img-holder>img:hover {
    scale: 1.5;
}

.name-holder {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name-holder>h1 {
    font-size: 35px;
}

.name-holder>h3 {
    font-size: 18px;
    color: var(--subtitle-clr);
}

.settings-link-set {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;

    width: 100%;
    text-align: center;
}

.settings-link {
    width: 85%;
    padding: 10px;
    font-size: 23px;
    color: var(--primary-clr);
    font-weight: bold;
    text-decoration: none;
    border: 2px solid var(--primary-clr);
    border-radius: 75px;
    box-shadow: 0 0 3px 2px var(--primary-clr);
    transition: all 300ms ease-in-out;
}

.settings-link:hover {
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
}

@media screen and (max-width: 660px) {
    body {
        padding: 0;
    }

    .grid-with-side-nav {
        padding: 0;
        display: grid;
        grid-template-columns: unset;
        grid-template-rows: 30% 1fr;
    }

    .settings-side-nav {
        position: relative;
        width: 100%;
        min-height: 30vh;
        height: fit-content;
        background-color: var(--secondary-clr);
    }

    .settings-img-holder {
        width: 100px;
        height: 100px;
    }

    .settings-link-set {
        padding: 10px 0;
        max-height: fit-content;
        /* flex-direction: column; */
    }

    .settings-link:not(:first-child) {
        display: none;
    }

    .block {
        display: block;
    }

}

/* Navbar */

/* Settings Form Controlls */
.settings-form-set {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 15px;
}

.form-segment {
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid var(--primary-clr);
    /* border-top: 0; */
}

.segment-title {
    padding: 0 30px;
    border-radius: 75px;
    width: fit-content;
    font-size: 30px;
    border: 2px double var(--primary-clr);
}

.form-title {
    width: 100%;
    font-size: 35px;
    text-align: center;
}

form {
    padding: 10px;
}

label {
    font-size: 20px;
}

.settings-row {
    padding: 5px;
    width: 100%;
    display: table;
    clear: both;
}

.settings-multi-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    clear: both;
}

.settings-set {
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: 260px;
    max-width: 100%;
}

.form-input {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    background-color: transparent;
    color: var(--primary-clr);
    border: 0;
    border-bottom: 2px solid var(--primary-clr);
}

.settings-form-btn-set {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.settings-form-btn {
    min-width: 100px;
    padding: 8px;
    border-radius: 70px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid transparent;
    transition: all 300ms ease-in-out;
}

.settings-primary-btn {
    background: var(--primary-clr);
}

.settings-primary-btn:hover {
    background: transparent;
    color: var(--primary-clr);
    box-shadow: 0 0 3px 2px var(--primary-clr);
}

.settings-secondary-btn {
    background-color: transparent;
    color: var(--white-clr);
}

.settings-secondary-btn:hover {
    background: var(--grey-clr);
}

@media screen and (max-width:660px) {
    .settings-form-set {
        padding: 20px 5px;
        gap: 20px;
    }

    form {
        padding: 0;
    }

}

/* Settings Form Controlls...ENds */

/* Update Settings */
.banner {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 15px;
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    font-size: 32px;
    z-index: calc(var(--top-lv-element) - 1);
}

@media screen and (max-width:660px) {
    .banner {
        font-size: 20px;
    }

}

/* Update Settings */


/* Loan Details... */
.loan-box {
    position: relative;
    padding: 15px;
    background: var(--black-clr);
    display: grid;
    place-items: center;
}

.detail {
    padding: 5px;
    font-size: 20px;
}

.detail>span {
    color: var(--primary-clr);
}

.loan-table {
    width: 50%;
    border: 2px double var(--primary-clr);
}
.loan-table *{
    border: 2px double var(--grey-clr);
}
.loan-table td,th{
    padding: 5px;
    font-size: 20px;
}
.loan-table td{
    text-align: center;
}
@media screen and (max-width:660px) {
    .loan-table{
        width: 100%;
    }
    
}

/* Loan Details...Ends */