.dark-form {
    background: var(--background-clr) !important;
}

.dark-form>* {
    color: var(--white-clr) !important;
}

.dual-row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    clear: both;
    width: 100%;
}

.row {
    display: flex;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    clear: both;
}

.form-title {
    font-size: 3rem;
    text-align: center;
}

.col {
    display: flex;
    flex-direction: column;
}

.form-btn-set {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.form-btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 20px;
    color: var(--white-clr);
    cursor: pointer;
    border: 2px double transparent;
    transition: all 500ms;
}

.primary-btn {
    background: var(--primary-clr);
}

.primary-btn:hover {
    box-shadow: 0 0 5px 5px var(--primary-clr);
    background: transparent;
    border-color: var(--primary-clr);
}

.secondary-btn {
    border-color: var(--secondary-clr);
    background: transparent;

}

.secondary-btn:hover {
    box-shadow: 0 0 5px 5px var(--secondary-clr);
    background: transparent;
}

label {
    font-size: 20px;
    padding: 5px;
    color: var(--white-clr);
}

.form-input {
    width: 100%;
    padding: 3px;
    font-size: 20px;
    background-color: transparent;
    color: var(--primary-clr);
    border: 0;
    border-bottom: 2px solid var(--primary-clr);
}

.form-input::placeholder {
    color: var(--light-clr);
}

/* CARD... */
.display {
    padding-top: 3%;
    display: grid;
    place-items: center;
}

.card {
    display: grid;
    width: 30%;
    min-height: 300px;
    border: 5px double var(--primary-clr);
    padding: 20px;
}

.card-name {
    color: white;
    text-align: center;
}

.card-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-input {
    padding: 5px;
    font-size: 20px;
    background-color: transparent;
    color: var(--special-text-clr);
    border: 0;
    border-bottom: 3px solid var(--primary-clr);
}

.card-input::placeholder {
    color: var(--secondary-clr);
}

.card-btn {
    padding: 12px 24px;
    font-size: 20px;
    background: var(--primary-clr);
    color: var(--white-clr);
    cursor: pointer;
}

#image-dialog {
    position: fixed;
    top: 20%;
    left: 20%;
    width: 50%;
    height: clamp(50%,fit-content,max-content);
    padding: 20px;
    z-index: 999;
    resize: both;
}

#image-dialog > img {
    object-fit: cover;
    width: 100%;
}

/* CARD...Ends */