@import url(Root.css);

/* Menu Bar [Deposit/ui.php] */
.menu-bar {
    position: relative;
    width: 100%;
    padding: 15px;
    margin-top: 50px;
    border-top: 1px double var(--primary-clr);
    border-bottom: 1px double var(--primary-clr);
    display: grid;
    place-items: start;
    padding-left: 20px;
}

.search-wrapper {
    --content-padding: 5px;
    --radius: 75px;
    --border-size: 2px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: var(--radius);
    border: var(--border-size) solid var(--primary-clr);
    width: 30%;
}

.search-bar {
    position: relative;
    width: 100%;
    font-size: 20px;
    padding-left: 20px;
    text-indent: 20px;
    color: var(--primary-clr);
    background: var(--secondary-clr);
    border: var(--border-size) solid var(--primary-clr);
    padding: var(--content-padding);
    border-radius: var(--radius);
}

.screen {
    position: relative;
    padding: 20px;
    border: 2px solid var(--primary-clr);
}

.search-options {
    display: flex;
    align-items: center;
    gap: 30px;
}

.search-option {
    min-width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
    border: 2px solid var(--primary-clr);
}

@media screen and (max-width: 660px) {}

/* Menu Bar [Deposit/ui.php]...Ends */

/* Users/ui.php */
#search-options {
    display: grid;
    place-items: center;
    gap: 10px;
}

.Account-list {
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(6, 1fr);
    font-size: 20px;
    padding: 10px;
    border: 2px solid var(--grey-clr);
}

.account {
    font-size: 25px;
    color: var(--primary-clr);
}

.contact-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.contact-group>* {
    width: 100%;
    text-align: center;
    padding: 3px;
    border: 1px solid var(--primary-clr);
}

@media screen and (max-width: 660px) {
    .search-wrapper {
        width: 100%;
    }

    #search-options {
        gap: 30px;
    }

    .Account-list {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 100px;
        gap: 20px;
        height: fit-content;
        border: 2px solid var(--primary-clr);
    }

}

/* Users/ui.php...Ends */

/* Users/proc/Detail.php */
.detail-main-sec {
    overflow: hidden;
    display: grid;
    grid-template-columns: 20% 1fr;
}

.side-nav {
    position: relative;
    width: 100%;
    min-height: 50dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 2px solid var(--primary-clr);
    gap: 10px;
}

.action-btns {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px double var(--secondary-clr);
    gap: 10px;
}

.action-btns * {
    width: 100%;
}

.pfp {
    position: relative;
    width: 100%;
    height: 200px;
    display: grid;
    place-items: center;
}

.pfp>img {
    width: 100%;
    max-width: 160px;
    object-fit: cover;
}

.detail-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    border: 1px solid var(--primary-clr);
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll !important;
}

.banner {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-clr);
}

.banner .name {
    color: var(--secondary-clr);
}

.detail {
    width: 100%;
    font-size: 20px;
    overflow-y: scroll;
}

.detail * {
    padding: 2px;
}

.detail *:not(th) {
    border: 1px solid var(--primary-clr);
}

.key {
    font-weight: bold;
}

.key::after {
    content: ':';
}

.value {
    border: 2px solid var(--gray-clr);
    background: var(--grey-clr);
    border-radius: 20px;
    padding: 5px 20px;
}

@media screen and (max-width:660px) {
    .detail-main-sec {
        padding-top: 10%;
        display: flex;
        flex-direction: column;
    }

}

/* Users/proc/Detail.php...Ends */


/* Mail/ui.php */
.mail-container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mail-wrapper {
    position: relative;
    padding: 10px;
    box-shadow: 0 0 2px 2px var(--primary-clr);
}

.reply-form-container {
    width: 30%;
    border: 2px solid var(--primary-clr);
    margin-top: 3%;
}

.mail-subject {
    padding: 5px 15px;
}

.mail-subject::first-letter {
    text-transform: uppercase;
}

.mail-id {
    display: flex;
    align-items: center;
    gap: 5px;
}

.mail-id>span {
    padding: 5px 20px;
    background: var(--dark-clr);
    border-radius: 45px;
    outline: 1px solid var(--light-clr);
}

.mail-msg {
    word-spacing: 2px;
    padding: 20px;
    font-size: 20px;
}

.mail-msg::before {
    content: '"';
}

.mail-msg::after {
    content: '"';
}

.mail-load {
    opacity: 0;
}
.slide{
    animation-delay: 3s;
}
.slide:nth-child(even) {
    animation: slide-in-left 1s ease-in-out forwards;
}

.slide:nth-child(odd) {
    animation: slide-in-right 1s ease-in-out forwards;
}

@keyframes slide-in-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

@keyframes slide-in-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

/* Mail/ui.php...Ends */