@import url(Root.css);

/* Menu Bar [Deposit/ui.php] */
.menu-bar{
    position: relative;
    width: 100%;
    padding: 15px;
    margin-top: 50px;
    border-top: 1px double var(--primary-clr);
    border-bottom: 1px double var(--primary-clr);
}
.search-wrapper{
    --content-padding: 5px;
    --radius: 75px;
    --border-size: 2px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: var(--radius);
    border: var(--border-size) solid var(--primary-clr);
    width: fit-content;
}
.search-bar{
    position: relative;
    width: 100%;
    font-size: 20px;
    padding: 0 20px;
    color: var(--primary-clr);
    background: var(--secondary-clr);
    border: var(--border-size) solid var(--primary-clr);
    padding: var(--content-padding);
    border-radius:  var(--radius)  0 0  var(--radius);
}
.search-btn{
    padding: var(--content-padding);
    font-size: 20px;
    border: var(--border-size) solid var(--primary-clr);
    color: var(--primary-clr);
    background-color: var(--secondary-clr);
    border-radius: 0 var(--radius) var(--radius) 0;
    transition: all 500ms;
}
.search-btn:hover{
    background: var(--primary-clr);
    color: var(--secondary-clr);
    box-shadow: 0 0 5px 5px var(--primary-clr);
}
.search-grid{
    position: relative;
    width: 100%;
    height: 65vh;
    border: 2px solid var(--primary-clr);
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.list{
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: var(--secondary-clr);
}
/* Menu Bar [Deposit/ui.php]...Ends */