.signup-form-container {
    position: relative;
    margin: auto;
    margin-top: 10%;
    width: 50%;
    min-height: 50vh;
    border: 2px solid var(--light-clr);
}

.signup-form-container>form {
    margin-top: 2%;
}

.form-btn-set {
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.btn {
    padding: 5px 20px;
    font-size: 20px;
    background: transparent;
    border: 0;
    transition: all 500ms;
}

.submit {
    background: var(--primary-clr);
    color: var(--light-clr);
    box-shadow: 0 0 5px 5px var(--primary-clr);
}

.submit:hover {
    background: transparent;
    color: var(--primary-clr);
    box-shadow: 0 0 5px 5px var(--primary-clr);
}

.cancle {
    color: var(--primary-clr);
}

@media screen and (max-width: 660px) {
    .signup-form-container {
        width: 100%;
        height: 50vh;
    }

    
}
/* TRANSFER */
.transfer-form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50vh;
}

.transfer-btn-set {
    margin-top: 10%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.t-input {
    font-size: 30px;
    text-align: center;
}

@media screen and (max-width: 660px) {
    .transfer-form-container {
        width: 100%;
        padding: 10px;
    }

}


/* Login */
.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 70vh;
    background: var(--background-clr);
    box-shadow: 0 0 10px 3px var(--primary-clr);
    border: 0;
    color: var(--font-clr);
}

.login-form>h1 {
    color: var(--font-clr);
}

.login-form::backdrop {
    background: black;
    opacity: 0.8;
}

.login-img-holder {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px double var(--primary-clr);
    display: grid;
    place-items: center;
}

.login-img-holder>img {
    position: relative;
    object-fit: cover;
    width: 101%;
    height: 101%;
    background: var(--background-clr);
    border-radius: inherit;
}

.login-form>h1 {
    text-align: center;
}

.form-btn-set {
    margin-top: 2%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

. {
    padding: 5px 25px;
    font-size: 20px;
    background: var(--background-clr);
    border: 0;
    transition: all 500ms;
}

.form-btn primary-btn{
    background: var(--primary-clr);
    color: var(--background-clr);
    box-shadow: 0 0 5px 5px var(--primary-clr);
}

.login-btn:hover {
    background: var(--background-clr);
    color: var(--primary-clr);
    box-shadow: 0 0 5px 5px var(--primary-clr);
}

 {
    background: var(--background-clr);
    color: var(--primary-clr);
}

.login-form>form {
    margin-top: 10%;
}

.for-login {
    margin-top: 3%;
}

@media screen and (max-width: 660px) {
    .login-form {
        width: 100%;
    }

}

/* Login...Ends */