

.not-found-msg {
    margin-top: 3%;
    font-size: 3rem;
    text-align: center;
    color: var(--subtitle-clr);
}

.note {
    margin: auto;
    margin-top: 5%;
    font-size: 20px;
    width: 50%;
    text-align: center;
}

.return-btn {
    padding: 10px 20px;
    background: var(--primary-clr);
    box-shadow: 0 0 5px 5px var(--primary-clr);
    border: 2px solid transparent;
    font-size: 25px;
    color: var(--background-clr);
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 800ms;
}

.return-btn:hover {
    background: var(--background-clr);
    border: 2px solid var(--background-clr);
    color: var(--primary-clr);
    box-shadow: 0 0 10px 10px var(--primary-clr);
}

