@import url(root.css);
@import url(navbar.css);
@import url(miscs.css);
@import url(forms.css);

.intro-title {
    margin: 5% 0 0 5%;
    width: 45%;
    font-size: 6rem;
}

.small-txt-group {
    margin: 0 0 0 5%;
    width: 30%;
}

.about-small-txt-group {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-small-txt {
    padding: 3px;
    text-align: center;
    width: 50%;
    font-size: 18px;
    color: var(--background-accence-text-clr);
}

.small-txt {
    padding: 3px;
    font-size: 18px;
    color: var(--background-accence-text-clr);
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.img-holder {
    position: absolute;
    top: 5%;
    right: 0;
    transition: all 500ms;
}

.img-holder:hover {
    transform: rotate(-15deg);
}

.cool-big-btn {
    padding: 10px 30px;
    background: var(--primary-clr);
    color: var(--background-clr);
    font-size: 20px;
    border: 0;
    box-shadow: 0 0 10px 5px var(--primary-clr);
    margin: .8% 0 0 5.5%;
    transition: all 500ms;
}

.cool-big-btn:hover {
    background: var(--background-clr);
    color: var(--primary-clr);
    box-shadow: 0 0 15px 15px var(--primary-clr);
}

@media screen and (max-width: 660px) {
    .intro-title {
        font-size: 3rem;
        margin: unset;
        margin-top: 60%;
        width: 100%;
        text-align: center;
    }

    .img-holder {
        display: none;
    }

    .cool-big-btn {
        width: 85%;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: unset;
    }

    .small-txt-group {
        width: 95%;
        text-align: center;
    }

    .small-txt {
        width: 100%;
    }

    .about-small-txt-group {
        width: 100%;
    }

    .about-small-txt {
        width: 90%;
        padding: 5px;
        margin-bottom: 0;
    }

    #about {
        height: fit-content;
    }

}

.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 70vh;
    background: var(--background-clr);
    box-shadow: 0 0 10px 3px var(--primary-clr);
    border: 0;
}

.login-form::backdrop {
    background: black;
    opacity: 0.8;
}

.login-img-holder {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px double var(--primary-clr);
    display: grid;
    place-items: center;
}

.login-img-holder>img {
    position: relative;
    object-fit: cover;
    width: 101%;
    height: 101%;
    background: var(--background-clr);
    border-radius: inherit;
}

.login-form>h1 {
    text-align: center;
}

.login-btn-set {
    margin-top: 2%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

.cool-btn {
    padding: 5px 25px;
    font-size: 20px;
    background: var(--background-clr);
    border: 0;
    transition: all 500ms;
}

.login-btn {
    background: var(--primary-clr);
    color: var(--background-clr);
    box-shadow: 0 0 5px 5px var(--primary-clr);
}

.login-btn:hover {
    background: var(--background-clr);
    color: var(--primary-clr);
    box-shadow: 0 0 5px 5px var(--primary-clr);
}

.cancle-btn {
    background: var(--background-clr);
    color: var(--primary-clr);
}

.login-form>form {
    margin-top: 10%;
}

.for-login {
    margin-top: 3%;
}

@media screen and (max-width: 660px) {
    .login-form {
        width: 100%;
    }

}

.page-title {
    font-size: 5rem;
    text-align: center;
}

/* Customer Slider */
#container {
    height: 100vh;
    width: 100vw;
    margin-top: -5%;
    padding: 0;
    background: var(--background-clr);
    display: grid;
    place-items: center;
}

#slider-container {
    height: 300px;
    width: 85vw;
    max-width: 1400px;
    background: var(--background-clr);
    position: relative;
    overflow: hidden;
    padding: 20px;
}

#slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid var(--primary-clr);
    border-top: 8px solid var(--primary-clr);
    filter: drop-shadow(0 0 5px var(--primary-clr));
}

#slider-container .btn:hover {
    transform: scale(1.2);
}

#slider-container .btn.inactive {
    border-color: var(--background-accence-text-clr)
}

#slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
}

#slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
}

#slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%;
    transition: all .5s;
}

#slider-container #slider .user-card {
    width: 2.38%;
    height: 90%;
    margin: auto 10px;
    background-color: var(--background-clr);
    box-shadow: 0 0 10px 10px var(--primary-clr);
    display: grid;
    place-items: center;
    gap: 0;
}

.user-msg {
    color: var(--background-accence-text-clr);
    text-align: center;

}

@media only screen and (max-width: 660px) {
    #container>* {
        display: none;
    }


}

/* Card Slider Ends */

/* Services */
.service-grid {
    width: 100%;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.service-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-name {
    font-size: 40px;
}

.service-detail {
    width: 50%;
    text-align: center;
    font-size: 18px;
    color: var(--background-accence-text-clr);
}

@media screen and (max-width:660px) {
    .service-grid {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
    }

    .service-card {
        display: flex;
        width: 90%;
        height: 100%;
        border: 1px solid var(--background-accence-text-clr);
    }

    .service-name {
        width: 90%;
        font-size: 2rem;
        text-align: center;
    }

    .service-detail {
        width: 80%;
        text-align: center;
    }

}

/* Services..ends */

/* TRANSACTION..... */
.transaction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 70vh;
    background: var(--background-clr);
    box-shadow: 0 0 10px 3px var(--primary-clr);
    border: 0;
    padding: 10px;
}

.transaction-slip {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.transaction-slip>table {
    width: 100%;
}

.transaction-slip td,
.transaction-slip th {
    width: 50%;
    text-align: left;
    font-size: 20px;
    padding: 10px;
}

@media screen and (max-width: 660px) {
    .transaction {
        position: relative;
        width: 100%;
        height: 100%;
        transform: unset;
        inset: unset;
        margin-top: 30%;
    }

}

/* TRANSACTION.....ends */
.balance {
    font-size: 60px;
    background: var(--transparent-clr);
    color: var(--primary-clr);
    font-family: var(--G-fonts);
    letter-spacing: 10px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transaction-list {
    position: relative;
    margin-top: 15%;
    width: 100%;
    height: 85vh;
    background: var(--dark-clr);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    overflow-y: scroll !important;
}

.transaction-display {
    outline: 1px solid var(--primary-clr);
    width: 100%;
    height: 100px;
    position: relative;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.transaction-display>* {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.transaction-note {
    font-size: 18px;
}

/* Loan */
.loan-container {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 70vh;
    padding: 10px;
}

.loan-packages-container {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.package-box {
    position: relative;
    width: 100%;
    height: 100%;
    outline: 1px solid var(--primary-clr);
    padding: 10px;
    background: var(--dark-clr);
}

.package-name {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

.package-amount {
    font-size: 33px;
    font-family: var(--G-fonts);
    padding: 10px;
    text-align: center;
}

.sponsor {
    position: absolute;
    font-size: 20px;
    bottom: 3%;
    text-transform: capitalize;
}

.user-limit {
    position: absolute;
    bottom: 3%;
    right: 3%;
    font-size: 18px;
}

.loan-btn {
    margin-top: 5%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: turquoise;
    color: var(--background-clr);
    font-size: 20px;
    border: 0;
}

.term-box {
    --border-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    padding: 15px;
    background: var(--background-clr);
    z-index: 999;
    border: 0;
    border-top: var(--border-size) solid var(--primary-clr);
    border-bottom: var(--border-size) solid var(--primary-clr);
}

.term-box>ol {
    margin-left: 3%;
}

.status {
    position: absolute;
    right: 3%;
    top: 3%;
    border: 2px dashed var(--primary-clr);
    padding: 10px;
    font-family: var(--G-fonts);
}

.term-input {
    width: 100%;
    background: transparent;
    font-size: 20px;
    padding: 5px;
    color: var(--primary-clr);
    font-family: var(--G-fonts);
    border: 0;
    border-bottom: 1px dashed var(--primary-clr);
    text-align: center;
}

.term-input::placeholder {
    color: firebrick;
}

.term-btn {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 30px;
    font-size: 20px;
    background: var(--primary-clr);
    color: var(--dark-clr);
}

.doc-grid {
    width: 100%;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
}

.doc {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.doc-grid label {
    cursor: pointer;
    width: 80%;
    height: 80%;
    font-size: 25px;
    border: 2px double var(--primary-clr);
    box-shadow: 0 0 10px 10px var(--primary-clr);
    border-radius: 12px;
    display: grid;
    place-items: center;
    transition: all 500ms;
}
.doc-grid label:hover{
    background: #1e8fff68;
    color: white;
}
.doc input[type="file"] {
    display: none;
}
.doc-submit{
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
    padding: 20px;
    font-size: 30px;
    background-color: #1e8fff68;
    color: white;
    font-family: var(--G-fonts);
}

/* Loan..ends */