body {
    overflow-y: hidden;
}

.grid {
    display: grid !important;
}

.none {
    display: none !important;
}

.grid-with-side-nav {
    position: relative;
    display: grid;
    grid-template-columns: 20% 1fr;
    width: 100%;
    max-height: 100vh;
}

/* Side Nav */
.side-nav-bar {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background: var(--secondary-clr);
    border-right: 1px solid var(--gray-clr);
    transition: all 500ms;
    z-index: var(--top-lv-element);
}

.select-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 23px;
}

.select-link {
    width: 80%;
    padding: 5px;
    color: var(--white-clr);
    font-size: 20px;
    text-align: center;
    background: var(--black-clr);
}

.select-link:hover {
    background: var(--black-clr);
}

.side-nav-bar:hover {
    box-shadow: 0 0 2px 2px var(--primary-clr);
}

.user-details {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 30%;
}

.side-nav-user-img-holder {
    width: 160px;
    height: 160px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 2px solid var(--primary-clr);
    display: grid;
    place-items: center;
    background-color: var(--black-clr);
    overflow: hidden;
}

.side-nav-pfp-img {
    width: 100%;
    object-fit: cover;
    /* mix-blend-mode: hard-light; */
    transition: scale 500ms;
}

.side-nav-pfp-img:hover {
    scale: 1.5;
}

.user-name {
    font-size: 30px;
}

.side-nav-link-set {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-link {
    position: relative;
    width: 100%;
    padding: 10px;
    font-size: 23px;
    color: var(--white-clr);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.track-set {
    padding: 15px;
    position: relative;
    width: 100%;
    height: 100px;
    transform: translateX(100px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: var(--dark-clr);
    gap: 30px;
}

.track-link {
    width: 100%;
    height: 100px;
    padding: 10px;
}

.side-link:hover {
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    font-weight: bold;
}

.toggleNav {
    display: none;
}

@media screen and (max-width:700px) {
    .grid-with-side-nav {
        display: flex;
        flex-direction: column;
    }

    .side-link:not(:first-child) {
        display: none;
    }

    .block {
        display: block !important;
    }

    .toggleNav {
        position: fixed;
        bottom: 5%;
        right: 5%;

        width: 100px;
        height: 100px;
        aspect-ratio: 1/1;

        display: grid;
        place-items: center;

        font-size: 80px;
        font-weight: bold;

        border-radius: 50%;
        background-color: var(--primary-clr);
        color: var(--secondary-clr);

        z-index: var(--top-lv-element);
    }
}

/* Side Nav...Ends */

/* Panel */
.panel {
    position: relative;
    width: 100%;
    max-height: 100dvh;
    background: var(--dark-clr);
    overflow-y: scroll !important;
}

.banner {
    position: relative;
    width: 100%;
    padding: 10px 20px;
    font-size: 2.5rem;
    background-color: var(--banner-clr);
}

.toggleNotification {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: var(--top-lv-element);
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
    color: var(--primary-clr);
    background-color: var(--black-clr);
    border: 0;
    transition: all 500ms;
    box-shadow: 0 0 2px 0px var(--primary-clr);
}

.toggleNotification:hover {
    box-shadow: 0 0 3px 3px var(--primary-clr);
}

.toggleNotification:active {
    scale: 0.6;
}

.notification-wrapper {
    padding: 10px;
    width: 100%;
    min-height: 100px;
    max-height: 50dvh;
    height: fit-content;
    background-color: var(--black-clr);
    overflow-x: hidden;
    overflow-y: scroll;
    grid-template-columns: repeat(1, 1fr);
    transition: all 1s ease-in-out;
}

.notification {
    opacity: 0;
    position: relative;
    width: 100%;
    height: fit-content;
    font-size: 20px;
    padding: 20px;
    border-radius: 75px;
    border: 1px solid var(--primary-clr);
}

.msg::before {
    content: '"';
}

.msg::after {
    content: '"';
}

.del-form {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
}

.small-del-btn {
    padding: 10px 30px;
    font-size: 20px;
    border-radius: 75px;
    background-color: transparent;
    color: var(--alert-clr);
    border: 3px double var(--alert-clr);
    transition: all 430ms;
}

.small-del-btn:hover {
    background-color: var(--alert-clr);
    color: var(--black-clr);
    font-weight: bolder;
    box-shadow: 0 0 3px 2px var(--alert-clr);
}

.date {
    font-size: 18px;
    position: absolute;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 700px) {
    .toggleNotification {
        inset: unset;
        top: 2%;
        left: 2%;
    }

    .del-form {
        position: relative;
    }

    .date {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
    }

    .notification {
        border-radius: 0;
        display: flex;
        align-items: center;
    }

    .del-all-form {
        position: relative;
        display: grid;
        place-items: center;
        padding: 10px;
        transform: translateY(10px);
    }

}

/* Panel...Ends */

/* Inverntory.... */
.reward-card-grid {
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    height: fit-content;
}

.reward-card {
    box-sizing: content-box;
    display: block;
    border: 3px dashed var(--black-clr);
    outline: 5px dashed gold;
    width: 80%;
    min-height: 200px;
    padding: 10px;
    background: gold;
    color: var(--secondary-clr);
    transition: all 500ms;
    font-size: 20px;
    display: grid;
    place-items: center;
}

.reward-card>h1 {
    font-size: 2em;
    text-align: center;
    font-family: var(--G-fonts);
}

.reward-date {
    font-size: 1.5rem;
    color: var(--secondary-clr);
}

.reward-card:hover,
.reward-card:hover>*:not(a) {
    background-color: black;
    color: var(--white-clr);
}

/* Inverntory....Ends */

/* Transactions... */
.transaction-grid {
    position: relative;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

    width: 100%;
    max-height: 55vh;
    padding: 10px;

    overflow-y: scroll;
    overflow-x: hidden;
}

.transaction-card {
    position: relative;
    border: 2px solid var(--primary-clr);
    padding: 10px;
    width: 100%;
    height: 200px;
    gap: 10px;
    font-size: 20px;
}

.id {
    position: absolute;
    top: 2%;
    left: 2%;
}

.amount-note {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.amount {
    font-size: 2em;
}

.note {
    font-style: italic;
    color: var(--primary-clr);

}

.note::before,
.note::after {
    content: '"';
}

.tra-date {
    position: absolute;
    right: 3%;
    bottom: 3%;
}

.usernames {
    position: absolute;
    left: 2%;
    bottom: 2%;
}

@media screen and (max-width:700px) {
    .reward-card-grid {
        grid-template-columns: repeat(1, 1fr);
        place-items: center;
        height: 50dvh;
        overflow-y: scroll;
    }

    .transaction-grid {
        grid-template-columns: repeat(1, 1fr);
    }

}

/* Transactions...Ends */

/* Review Section... */
.message-container {
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}

.message-wrapper {
    width: 100%;
    padding: 5px 10px;
    background-color: var(--secondary-clr);
    border: 1px double var(--grey-clr);
}

.msg-top-sec {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.subject {
    font-size: 2rem;
    text-decoration: underline;
    padding: 10px 0;
}

.msg-middle-sec {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 10px;
}

.msg-bottom-sec {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.message,
.message-response {
    padding: 0 10px;
    min-width: 300px;
    width: fit-content;
    border-radius: 5px;
    background: var(--dark-clr);
    font-size: 1.3rem;
}

.message::before {
    content: "Question: ";
    color: var(--primary-clr);
    font-family: var(--G-fonts);
    background-color: var(--secondary-clr);
}

.response-group {
    position: relative;
    display: flex;
    flex-direction: column;
}
.response-group > strong{
    position: absolute;
    right: 0;
}
.message-response::before {
    content: "Reply ";
    color: var(--primary-clr);
    font-family: var(--G-fonts);
    background-color: var(--secondary-clr);
}

/* Review Section...Ends */