* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 14px;
    color: var(--font-clr);
}

body {
    max-width: 100%;
    min-height: 100dvh;
    background: var(--background-clr);
    overflow-x: hidden;
}

header,
section {
    max-width: 100%;
    min-height: 100dvh;
}

button {
    cursor: pointer;
}

*::selection {
    background-color: var(--primary-clr);
    color: var(--background-clr);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    width: 5px;
    background: var(--primary-clr);
}

/* Lazy Load */
.lazy {
    opacity: 0;
}

.lazy-load {
    animation: load 1s ease-in-out forwards;
}

@keyframes load {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.notify {
    opacity: 0;
    animation: notify-hide 1s ease-in-out forwards;
}

@keyframes notify-hide {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(100%);
    }

}

.notify-load {
    animation: notify 1s ease-in-out forwards;
}

@keyframes notify {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Custom Classes */

/* Display Properties... */
.grid {
    display: grid !important;
}

.flex {
    display: flex !important;
}

.none {
    display: none !important;
}

.block {
    display: block !important;
}

/* Display Properties...ends */

.text-group {
    width: 100%;
    color: var(--font-clr);
    padding: 10px;
    font-size: 20px;
}

.text-group>a {
    color: var(--primary-clr);
}

.p-t-5 {
    padding-top: 5%;
}

.grid-center {
    display: grid;
    place-items: center;
}

.white-text {
    color: var(--white-clr);
}

.text-center {
    text-align: center;
}

.top-lv-element {
    z-index: var(--top-lv-element);
}

.border {
    border: 1px solid var(--primary-clr);
}

.w-100 {
    width: 100% !important;
}

.font-size-big {
    font-size: 2rem !important;
}

.badge {
    min-width: 100px;
    width: fit-content;
    margin: 5px;
    padding: 2px 10px;
    border-radius: 5px;
    font-family: var(--G-fonts);
    font-size: 1.3rem;
    color: var(--white-clr);
    text-align: center;
}

.success {
    border: 2px solid var(--success-clr) !important;
    background: var(--success-clr) !important;
    color: var(--depth-clr) !important;
    /* transition: all 500ms; */
}

.success:hover {
    background-color: transparent !important;
    color: var(--success-clr) !important;
    box-shadow: 0 0 10px 1px var(--success-clr);
}

.warn {
    border: 2px solid var(--warn-clr) !important;
    background: var(--warn-clr) !important;
    color: var(--depth-clr) !important;
}

.warn:hover {
    background-color: transparent !important;
    color: var(--warn-clr) !important;
    box-shadow: 0 0 10px 1px var(--warn-clr);
}

.alert {
    border: 2px solid var(--alert-clr) !important;
    background: var(--alert-clr) !important;
    color: var(--white-clr) !important;
}

.alert:hover {
    background-color: transparent !important;
    color: var(--alert-clr) !important;
    box-shadow: 0 0 10px 1px var(--alert-clr) !important;
}

.primary {
    border: 1px solid var(--primary-clr) !important;
    color: var(--depth-clr) !important;
    background: var(--primary-clr) !important;
}

.primary:hover {
    background: transparent !important;
    color: var(--primary-clr) !important;
    box-shadow: 0 0 10px 1px var(--primary-clr) !important;
}

.padding-top {
    padding: 5% !important;
}

.sql {
    width: 100%;
    background-color: var(--depth-clr);
    color: var(--success-clr);
    font-size: 1.5rem;
    font-family: var(--G-fonts);
    text-align: center;
}

.white {
    color: white;
}
.primary-link{
    color: var(--primary-clr);
}