@import url(Root.css);
@import url(Index.css);
@import url(FormComponent.css);

/* Common Styles... */
.section-title {
    font-size: 4rem;
    text-align: center;
}

/* Common Styles...Ends */

/* Hero Component... */
.hero-section {
    position: relative;
    width: 100%;
    min-height: 100dvh;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.intro-text-set {
    place-self: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.intro-heading {
    font-size: 5rem;
    width: 60%;
}

.intro-text {
    font-size: 18px;
    padding: 5px;
}

.intro-btn {
    width: 50%;
    font-size: 20px;
    padding: 10px 30px;
    background-color: var(--primary-clr);
    color: var(--secondary-clr);
    font-weight: bold;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 0 3px 3px var(--primary-clr);
    text-decoration: none;
    text-align: center;
    transition: all 400ms;
}

.intro-btn:hover {
    background: transparent;
    color: var(--primary-clr);
    box-shadow: 0 0 5px 5px var(--primary-clr);
}

.intro-img-wrapper {
    position: relative;
    overflow: hidden;
    width: 80%;
    place-self: end;
    user-select: none;
}

.intro-img-wrapper>img {
    object-fit: cover;
    width: 100%;
    pointer-events: none;
}

@media screen and (max-width:700px) {
    .hero-section {
        display: flex;
    }

    .intro-img-wrapper {
        display: none;
    }

    .intro-text-set {
        position: relative;
        width: 100%;
        padding: 0 10px;
    }

    .intro-heading {
        width: 100%;
        font-size: 4em;
        text-align: center;
    }

    .intro-text {
        width: 100%;
        text-align: center;
    }

    .intro-btn {
        width: 100%;
    }
}

/* Hero Component...ENds */

/* About Section... */
.section-title::first-letter {
    color: var(--primary-clr);
}

.text-group:has(.about-text) {
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-text {
    width: 50%;
    text-align: center;
    font-size: 18px;
}

@media screen and (max-width:700px) {
    .about-text {
        width: 100%;
        padding: 0 10px;
    }

}

/* About Section...Ends */

/* Services Sections... */
.services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: 100dvh;
}

.service {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service-name {
    font-size: 40px;
}

.service-desc {
    width: 50%;
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width:700px) {
    .services-grid {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 10px;
    }

    .service {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }

    .service-name {
        text-align: center;
    }

    .service-desc {
        width: 100%;
        height: fit-content;
        padding: 0 15px;
    }
}

/* Services Sections...Ends */


/* Transfer Scratch Card... */
.card-wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    height: 50vh;
}

.card-container {
    position: relative;
    width: 400px;
    height: 200px;
    outline: 2px solid gold;
    outline-offset: -5px;
    border: 2px dashed gold;
    display: grid;
    place-items: center;
    text-align: center;
    transition: all 500ms;
}

.card-details {
    opacity: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gold;
    z-index: var(--top-lv-element);
}

/* Transfer Scratch Card...Ends */

/* Transfer Success */
.transfer-details-wrapper {
    width: 50%;
    min-height: 400px;
    height: fit-content;
    border: 1px solid var(--primary-clr);
    display: grid;
    place-items: center;
}

.transfer-heading {
    place-self: start center;
    font-size: 36px;
    padding: 5px;
}

@media screen and (max-width:700px) {
    .card-wrapper {
        width: 100%;
    }
}

/* Transfer Success...Ends */

/* Balance... */
.balance-section {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.balance {
    width: 50%;
    font-size: 5rem;
    text-align: center;
    color: var(--primary-clr);
    background-color: var(--secondary-clr);
}

.balance::after {
    content: '/-';
}

@media screen and (max-width:700px) {
    .balance{
        width: 100%;
    }
}

/* Balance...Ends */


/* Loan Packages... */
.loan-package-container {
    position: relative;
    width: 100%;
    height: 100vh;
}

.loan-package-grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    padding: 15px;
    width: 100%;
    max-height: 60vh;
    border: 2px solid var(--primary-clr);
    overflow-y: scroll;
    overflow-x: hidden;
}

.loan-package-wrapper {
    position: relative;
    min-width: 100%;
    min-height: 300px;
    height: 100%;
    padding: 10px;
    border: 2px solid var(--primary-clr);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.package-top-segment {
    position: relative;
    padding: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.package-middle-segment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.package-bottom-segment {
    width: 100%;
    display: flex;
    gap: 3px;
    justify-content: space-between;
    padding: 3px;
}

.user-set {
    display: flex;
}

.package-name {
    font-size: 2rem;
}

.package-amount {
    font-size: 2rem;
}

.package-amount::after {
    content: '/-';
}

.terms {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    padding: 10px;
    background-color: var(--secondary-clr);
    border: 3px double var(--primary-clr);
    color: var(--font-clr);
}

.term-text {
    font-size: 20px;
    padding: 15px;

}

@media screen and (max-width:700px) {
    .loan-package-grid {
        gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        height: 100vh;
    }

    .loan-package-wrapper {
        height: 500px;
    }

    .terms {
        width: 100%;
        height: 50vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

/* Loan Packages...Ends */